<div id="admin-page">
  <div class="row" id="welcome">
    <div class="col-md">
      <div>
        <%= "Logged in as #{@user.email}." %> 
        <%= link_to('Log Out', '#') %> 
      </div>
    </div>
  </div>
  <div class="row" id="view-delete-events">
    <div class="col-md">
      
    </div>
  </div>
    <div class="row">
    <div class="col-md">
      
    </div>
  </div>
  <div id="events_panel">
    <% @events.each do |event| %>
      <div class="row" >
        <div class="col-md">
          <div id="an_event">
            <span></span>
            ...
            <button id="accept">
            <button id="not_accept">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>